{
    {% if docker_config.proxy.enable == true %}
    "proxies": {
        "http-proxy": "{{ docker_config.proxy.http_url }}",
        "https-proxy": "{{ docker_config.proxy.https_url }}",
        "no-proxy": "{{ docker_config.proxy.no_proxy_url }}"
        },
    {% endif %}
    {% if docker_config.log_driver.enable == true %}
    "log-driver": "{{ docker_config.log_driver.name }}",
    {% endif %}
    {% if docker_config.log_opt.enable == true %}
    "log-opts": {
        "labels": "{{ docker_config.log_opt.labels }}",
        "max-file": "{{ docker_config.log_opt.max_file }}",
        "max-size": "{{ docker_config.log_opt.max_size }}"
        },
    {% endif %}
    {% if docker_config.log_level.enable == true %}
    "log-level": "{{ docker_config.log_level.level }}",
    {% endif %}
    {% if docker_config.no_new_privileges.enable == true %}
    "no-new-privileges": true ,
    {% endif %}
    {% if docker_config.mirror_registry.enable == true %}
    "registry-mirrors": ["{{ docker_config.mirror_registry.urls }}"],
    {% endif %}
    {% if docker_config.insecure_registry.enable == true %}
    "insecure-registries": ["{{ docker_config.insecure_registry.urls }}"],
    {% endif %}
    {% if docker_config.experimental.enable == false %}
    "experimental": false,
    {% endif %}
    {% if docker_config.icc.enable == false %}
    "icc": false,
    {% endif %}
    {% if docker_config.iptables.enable == true %}
    "iptables": true,
    {% endif %}
    {% if docker_config.user_land_proxy.enable == false %}
    "userland-proxy": false,
    {% endif %}
    {% if docker_config.storage_driver.enable == true %}
    "storage-driver": "{{ docker_config.storage_driver.name }}",
    {% endif %}
    {% if docker_config.default_ulimits.enable == true %}
    "default-ulimits": {
    "nofile": {
      "Name": "{{ docker_config.default_ulimits.nofile.name }}",
      "Hard": {{ docker_config.default_ulimits.nofile.hard }},
      "Soft": {{ docker_config.default_ulimits.nofile.soft }}
    },
    "nproc": {
      "Name": "{{ docker_config.default_ulimits.nproc.name }}",
      "Hard": {{ docker_config.default_ulimits.nproc.hard }},
      "Soft": {{ docker_config.default_ulimits.nproc.soft }}
    }
    },
    {% endif %}
    {% if docker_config.cgroup_parent.enable == true %}
    "cgroup-parent":"{{ docker_config.cgroup_parent.name }}",
    {% endif %}
    {% if docker_config.live_restore.enable == true %}
    "live-restore": true
    {% endif %}
}
